body {
    margin: 0;
    padding: 0;
    background: darkcyan;
}
.input-main {
    width: 500px;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}
h1 {
    text-align: center;
    color: cyan;
    font-size: 50px;
    font-family: sans-serif;
    text-shadow: 2px 3px black;
}
.input-form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.label {
    display: flex;
    justify-content: center;
    width: 200px;
    text-align: center;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}

.group {
    width: 500px;
    display: grid;
    grid-template-columns: auto auto;
    /* background: blue; */
    /* border: 1px solid black; */
    margin-top: 20px;
    height: 50px;
}
.input {
    border: 1px solid lightgrey;
}
.submit-btn {
    margin-top: 10px;
    width: 200px;
    height: 40px;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    transform: translateX(150px);
    margin: 20px 10px;
}